.home {
  &-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &-header {
    margin-bottom: 1rem;
  }

  &-text {
    text-align: center;
    font-style: italic;
    font-size: x-large;
  }
}
